@import "../../styles/style.scss";

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  gap: 12px;
}

.pagination__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 36px;
  width: 36px;
  background-color: $bg-white;
  border: 1px solid $text-gold;
}

.pagination__list {
  display: none;
}

.left__arrow, .right__arrow {
  &.is-disabled {
    // background-color: rgba(202, 143, 72, 0.5);
    opacity: 0.3;
    pointer-events: none;
  }
}

.pagination__item {
  cursor: pointer;
  display: none;
  background-color: $bg-white;
  border: 1px solid $border-light-gray;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-decoration: none;
  color: $text-light-black;

  &.active {
    color: $text-white;
    background-color: $bg-gold;
    border: 1px solid $bg-gold;
  }
}

@media screen and (min-width: 1152px){
  .pagination__arrow {
    width: 44px;
    height: 44px;
  }
  
  .pagination__item {
    // display: block;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagination__list {
    display: flex;
  }
}