$text-black: #000;
$text-white: #fff;
$text-gold: #CA8F48;
$text-gray: #787878;
$text-gray2: #BDBDBD;
$text-light-black: #333333;
$bg-gray: #8C8C8C;
$bg-light-gray: #F6F6F6;
$bg-light-gray2: #82828280;
$border-light-gray: #E5E5E5;
$bg-white: #fff;
$bg-gold: #CA8F48;
$bg-red: #CD5B63;
$red-validation: #EB5757;
$bg-light-gold: #D2A268;
$bg-lightest-gold: rgba(210, 162, 104, 0.5);