@import "../../styles/style.scss";


.input-select {
  position: relative;
  flex: 50%;
}

.select-list {
  cursor: pointer;
  border: 1px solid $border-light-gray;
  font-size: 14px;
  height: 40px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 12px;
  appearance: none;
  // padding-right: 12px;
  position: relative;
}

.select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 12px;
}

@media only screen and (min-width: 1152px) {

  .select-list {
    height: 40px;
    width: 177px;
  }
}
  